.intro ul {
    list-style-type: none;
    display: flex;
    justify-content: baseline;
}

.intro strong {
    font-size: 125%;
}

#site-overview {
    padding-top: 4em;
    padding-bottom: 2em;
}

.intro li {
    padding-inline: 10px;
    text-align: start;
}

h1 { /* You can't make the text easily have a gradient colour, you have to work around it (text isn't supported by linear gradient). */
    background-image: linear-gradient(to bottom right, rgb(255, 177, 31), rgb(252, 70, 221));
    background-clip: text;
    color: transparent
}
h2 {
    background: linear-gradient(to bottom right, rgb(72, 172, 234), rgb(252, 70, 221));
    background-clip: text;
    color: transparent
}
h3 {
    background: linear-gradient(to bottom right, rgb(39, 212, 39), cyan);
    background-clip: text;
    color: transparent;
}
.gradient {
    background: linear-gradient(to bottom right, red, rgb(0, 102, 255));
    background-clip: text;
    color: transparent;
}
#outro {
    padding: 1.5rem; /* Padding changes text gradient start/end for some reason */
    background: linear-gradient(to bottom right, rgb(0, 102, 255), red); /* Repetitive, change later */
    background-clip: text;
    color: transparent
}