.title {
    display: block;
    text-align: center;
    color: #ff4081;
    text-decoration: underline #ff4081;
}

.memoir {
    padding-right: 40vh;
    padding-left: 40vh;
    display: block;
    text-align: justify;
    text-justify: auto;
    line-height: 2;
}