h4 {
    background-color: black;
    color: white;
    padding: 10px;
    background-size: contain;
    text-align: center;
}

.announcement {
    color: red;
}

.fun {
    font-size: x-small;
    font-weight: bolder;
}