/* Style horizontal navbar for site navigation */
.page-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px
}

.page-navbar a {
    border-radius: 10%;
    padding: 3px;
    color: rgb(20, 20, 20);
    background-color: white;
}

.page-navbar a:hover {
    color: white;
    background-color: rgb(20, 20, 20);
    transition: color 0.5s, background-color 0.5s; /* Swap text colour with background colour */
}