/* Style horizontal navbar for site navigation */
.page-navbar ul { /* I want to make the navbar stay visible when scrolling, doesn't work */
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    right: 10px;
    top: 0; /* Fix offset issue where navbar is moved down the screen by default for some reason */
    z-index: 999; /* Set navbar an excessive amount of layers above everything else */
}

.page-navbar a {
    border-radius: 10%;
    padding: 3px;
    color: rgb(20, 20, 20);
}

.page-navbar .navbar-home {
    background: linear-gradient(to bottom right, #ff0058, #ffbc00);
}
.page-navbar .navbar-devlogs {
    background: linear-gradient(to bottom right, rgb(72, 172, 234), rgb(252, 70, 221));
}
.page-navbar .navbar-about-us {
    background: linear-gradient(to bottom right, rgb(39, 212, 39), cyan);
}

/* On hover transitions below. */

/* Swap background colours (start out opposite corners now). */
.page-navbar .navbar-home:hover {
    background: linear-gradient(to bottom right, #ffbc00, #ff0058);
    transition-duration: 1s;
}
.page-navbar .navbar-devlogs:hover {
    background: linear-gradient(to bottom right, rgb(252, 70, 221), rgb(72, 172, 234));
    transition-duration: 1s;
}
.page-navbar .navbar-about-us:hover {
    background: linear-gradient(to bottom right, cyan, rgb(39, 212, 39));
    transition-duration: 1s;
}