/* Style horizontal navbar for site navigation */
.page-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px
}

.page-navbar a {
    border-radius: 10%;
    padding: 3px;
    color: rgb(20, 20, 20);
}

.page-navbar .navbar-home {
    background: linear-gradient(to bottom right, rgb(255, 177, 31), rgb(252, 70, 221));
}
.page-navbar .navbar-devlogs {
    background: linear-gradient(to bottom right, rgb(72, 172, 234), rgb(252, 70, 221));
}
.page-navbar .navbar-about-us {
    background: linear-gradient(to bottom right, rgb(39, 212, 39), cyan)
}

/* On hover transitions below. */
.page-navbar a:hover {
    color: white;
    transition: color 0.5s; /* Turn text white */
}
/* Swap background colours (start out opposite corners now). */
.page-navbar .navbar-home:hover {
    background: linear-gradient(to bottom right, rgb(252, 70, 221), rgb(255, 177, 31));
    transition-duration: 1s;
}
.page-navbar .navbar-devlogs:hover {
    background: linear-gradient(to bottom right, rgb(252, 70, 221), rgb(72, 172, 234));
    transition-duration: 1s;
}
.page-navbar .navbar-about-us:hover {
    background: linear-gradient(to bottom right, cyan, rgb(39, 212, 39))
    transition-duration: 1s;
}