/* You can use grayscale(1) to make images turn black/grey: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/grayscale */

.footer {
    font-size: 75%;
    bottom: 0;
    text-align: center;
    left: 50%; /* How do I make text actually go to center */
    position: absolute;
}

.footer a { /* Fix link colour being set to black by default */
    color: white;
}

/* Everything below this is for the game cards */
.devlog {
    list-style-type: none;
}

.devlogImage, .installImage {
    width: 5%;
    height: auto;
}