.footer {
    font-size: 75%;
    bottom: 0;
    text-align: center;
    left: 50%; /* How do I make text actually go to center */
    position: absolute;
}

.footer a { /* Fix link colour being set to black by default */
    color: white;
}

/* Everything below this is for the game cards */
.devlog {
    list-style-type: none;
    border-image: linear-gradient(blue, red) 30;
    width: 500px;
}

.devlogImage, .installImage {
    width: 7.5%;
    height: auto;
    filter: grayscale(1);
}

.devlogImage:hover, .installImage:hover {
    filter: grayscale(0);
    width: 10%;
    height: auto;
    transition: 0.5s;
}