.footer {
    font-size: 75%;
    bottom: 0;
    left: 45%;
    position: absolute;
}

.footer a { /* Fix link colour being set to black by default */
    color: white;
}

h1, h2 {
    text-align: center;
}
h1 {
    font-size: 135%;

    background-image: linear-gradient(to bottom right, #ff0058, #ffbc00);
    background-clip: text;
    color: transparent;
}
h2 {
    font-size: 100%;

    background-image: linear-gradient(to bottom right, rgb(72, 172, 234), rgb(252, 70, 221));
    background-clip: text;
    color: transparent;
    padding-bottom: 30px;
}

li {
    display: inline-flex;
    padding: 10px;
}

.gameImage {
    width: 300px;
    height: auto;
}

/* Everything below this is for the game cards */
.game {
    border-image: linear-gradient(to bottom right, rgb(39, 212, 39), cyan) 1;
    border-style: solid; /* Makes border gradient show up */
    width: 400px;
    text-align: center;
}

* {
    list-style-type: none; /* Get rid of bullet points next to cards */
}

.gameTitle {
    font-size: 125%;
    padding: none;

    /* Finish making title a linear gradient */
    background-clip: text;
    color: transparent;
}

.devlogImage, .installImage {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    width: 7.5%;
    height: auto;
    filter: grayscale(1);
}

.devlogImage:hover, .installImage:hover {
    filter: grayscale(0);
    width: 10%;
    height: auto;
    transition: 0.5s;
}