h3 {
    background-image: linear-gradient(to bottom right, rgb(39, 212, 39), cyan);
    background-clip: text;
    color: transparent;

    text-align: center;
    font-size: 110%;
}

h1, h2 {
    text-align: center;
}
h1 {
    padding-top: 15px;

    background-image: linear-gradient(to bottom right, #ff0058, #ffbc00);
    background-clip: text;
    color: transparent;
}
h2 {
    background-image: linear-gradient(to bottom right, rgb(72, 172, 234), rgb(252, 70, 221));
    background-clip: text;
    color: transparent;
}

.logs {
    text-align: justify;
}  