h4 {
    background-image: linear-gradient(to bottom right, blue, red);
    background-clip: text;
    color: transparent;

    padding: 10px;
    text-align: center;
}

.logs {
    text-align: justify;
}  